img {
  margin-top: 4rem;
  max-height: 600px;
}

.menu-items {
  list-style-type: none;
  text-align: right;
}

li {
  margin-top: 92px;
  margin-left: -100px;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 10px;
  cursor: pointer;
  transition: all .5s ease;
}

li:hover {
  transform: scale(1.2);
  transform-origin: 100% 25%;
  color: gray;
}


.row {
  margin-left: 100px;
  margin-right: 175px;
}

a {
  color: black;
  transition: .5s ease;
}

a:hover {
  text-decoration: None;
}

.large-text {
  font-size: 40px
}

#contact-block {
    margin: 0;
    padding: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    border: solid black 3px;
    text-align: center;
    transform: translate(-50%, -50%)
  }

#event-block {
    margin: 0;
    padding: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    border: solid black 3px;
    text-align: center;
    transform: translate(-50%, -50%)
  }

#coming-soon {
    margin: 0;
    padding: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    border: solid black 3px;
    text-align: center;
    transform: translate(-50%, -50%)
  }

  #coming-soon-2 {
    margin: 0;
    padding: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    border: solid black 3px;
    text-align: center;
    transform: translate(-50%, -50%)
  }

  #coming-soon-3 {
      margin: 0;
      padding: 4rem;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      border: solid black 3px;
      text-align: center;
      transform: translate(-50%, -50%)
    }

.container4 {
    height: 50em;
    padding: 5;
    position: relative;
  }

.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

.container4 h2 {
  heignt: 0em;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


#test p {
  border: solid black;
  padding: 15px;
}
